/* AboutUs.css */

.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  .about-us-header {
    font-size: 2rem;
    color: #333;
    margin: 4% 0 0 19%;
    padding: 4% 0 0 17%;
  }

  .about-us-content {
    margin-top: 1%;
    padding: 2%;
  }
  
  .story {
    font-size: 1.1rem;
    line-height: 1.6;
    content: justify;
    color: #787777;
    margin: 1% 0 0;
  }
  
  .Aback-link {
    display: inline-block;
    margin-top: 20px;
    color: #4bb36d;
    text-decoration: none;
    align-self: center;
    margin-left: 35%;
    justify-content: center;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }
  @media screen and (max-width:476px){
   .about-us-header{
    margin:30% 0 0 5%;
   }
   .Aback-link {
    align-content: center;
   }
  }