

footer {
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.footer-links ul li {
  cursor: pointer;
}

.social-icons span {
  cursor: pointer;
}
.social-icons{
  padding: 0 10px 10px 0;
}
.facebook{
  background-image: url('../assets/facelogo.png');
  background-size: cover;
  width:35px;
  height: 35px;
  
}
.twitter{
  background-image: url('../assets/twitter\ logo.png');
  background-size: cover;
  width:35px;
  height: 35px;
  
}
.linkedin{
  background-image: url('../assets/linkedin.png');
  background-size: cover;
  width:35px;
  height: 35px;
  
}
.youtube{
  background-image: url('../assets/youtubelogo.png');
  background-size: cover;
  width:35px;
  height: 35px;
  
}
.insta{
  background-image: url('../assets/instalogo.png');
  background-size: cover;
  width:35px;
  height: 35px;
  
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 30px 10px 20px;
  background-color: rgb(80, 78, 78);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  height: 100px;
  
}

footer ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

footer ul li {
  cursor: pointer;
}
.copy{
  background-color: rgb(80, 78, 78);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(250, 241, 241);
 height: 30px;
 padding-left: 70px;
 border: 0;
}
.copy p{
  margin:0px ;
}
@media only screen and (max-width:476px) {
  footer {
    width:100%;
    flex-direction: column;
    height:180px;
    padding: 0px;
  
   }
   .footer-links{
    flex-direction: column;
    margin:0px 15px 0px 0px;
    padding: 5px;
   }
   .social-icons{
    margin:5px;
    padding: 5px;
   }
   ul.twiter{
    margin:10px 15px 0px 0px;
    padding: 10px 10px 10px 10px;
   }
   .copy{
    width:100%;
    margin:0px;
    padding: 0px;

   }
   .copy p{
    margin: 0px;
    
   }
}
