body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent{
  display: flex;
  flex-direction: row;
  width: 300%;
  animation-name: slide;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  z-index: 88;
  height: 100vh;
    
}
@keyframes slide{
  0%{
  transform: translateX(0);

  }
   33.33%{
  transform: translateX(-33.33%);
}
  66.66%{
  transform: translateX(-66.66%);
}
   100%{
  transform: translateX(0);

}
}
.cnttt{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  text-align: center;
  width:100%;
  top: 40%;
}

.transparent-image {
  width: 33.33%;
  text-align: center;
  margin: 0px;
  padding: 170px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url('../assets/tttt.jpg');
  object-fit: cover; 
  background-size: cover;
  
}

ul{
  list-style: none;
}
.transparent-image2 {
  width: 33.33%;
  text-align: center;
  margin: 0px;
  padding: 170px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url('https://c02.purpledshub.com/uploads/sites/41/2021/08/mountains-7ddde89.jpg?w=1029&webp=1');
  object-fit: cover; 
  background-size: cover;
  
}
.transparent-image3 {
  width: 33.33%;
  text-align: center;
  margin: 0px;
  padding: 170px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url('https://img.freepik.com/free-vector/realistic-travel-background-with-elements_52683-77784.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1709683200&semt=ais');
  object-fit: cover; 
  background-size: cover;
  
}

.transparent-image h1 {
  margin-bottom: 10px;
}

.transparent-image p {
  font-size: 16px;
  margin-bottom: 20px;
}

.transparent-image button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border-radius: 20px;
}

.transparent-image button:hover {
  background-color: #45a049;
}



.se{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  margin-bottom: -30px;
}

.hover>li>a:hover{

  text-decoration: none;

}

.share-experience {
 width: 50%;
 margin-bottom: 70px;
}
.homeimg{
  width: 100%;
}

.irc{
   width: 50%;
   text-align: left;
   padding: 50px;
   margin-bottom: 70px;
}
.visit{
  color: #4caf50;
  font-size: 30px;
  margin: 0 0 0 5%;
  padding: 0 0 0 5%;
}

.btn1{
  padding: 15px;
  border-radius: 20px;
  border: none; 
  background-color: #45a049;
  color: #fff;
  width: 165px;
  text-decoration: none;
}

.btn2{
  padding: 15px;
  border-radius: 20px;
  border: none; 
  background-color: #003b4a;
  color: #fff;
  width: 180px;
  
}

.swipe{
  align-self: flex-start;
  margin-top: 10%;
  height: 100px;
  width: 5px;
  background-color: green;
  cursor: pointer;
}
.icons{
  transition: 0.7s ease;
}
.swipe:hover .icons{
  transform: translateX(-50px);
  transition: 0.7s ease;
}

.iconlist{
  list-style: none;
  padding: 10px;
}
.swipeicon{
  margin: 10px 0 10px 0;
}
.share-experience h2 {
  margin-bottom: 10px;
}

.share-experience button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.share-experience button:hover {
  background-color: #45a049;
}

.transparent {
  text-align: center;
  margin: 0px;
  padding: 150px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url('../assets/imge.jpg');
  object-fit: cover; 
  height: 200px;
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

.left{
  left: auto;
  width:1000px;
  height: 50px;
  color: white;
  justify-content: center;
  align-items: center;
  
}

.transparent h1 {
  margin-bottom: 10px;
}

.transparent p {
  font-size: 16px;
  margin-bottom: 20px;
}

.transparent button {
  background-color: #003b4a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border-radius: 20px;
  float: right;
  height: 60px;
 margin-top: 150px;
}

.transparent button:hover {
  background-color: #45a049;
}
/* //mission section */
.container1 {
  display: flex;
  justify-content: space-around;
}

.left1, .right2 {
  width: 45%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.t2>b{
  text-align: center;
}

.r2 {
  font-size: 34px;
  margin-bottom: 10px;
  color: #003b4a;
}

.t2 {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
 
}

.m{
  align-self: center;
  text-align: center;
  margin-top: 100px;
  color: #003b4a;
}
.caption{
 align-content: center ;
}
.m1{
    text-align: center;

  margin-top: 100px;
  color: #003b4a;
}
.pp1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 97%;
  padding: 0 20px;
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
}
.t3{
  font-size: 16px;
  line-height: 1.6;
  padding: 0 50px 0 50px;
}



.logo{
  width:105px;
  height: 70px;
}
.mylogo{
  width:70px;
  height: 70px;
}

.copy{
  background-color: rgb(80, 78, 78);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(250, 241, 241);
 height: 30px;
 padding-left: 70px;
 
}



/* .dropmenu{
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
} */


.login:hover .dropmenu{
  display: flex;
}



/* topedutourist.css */

.container{
  margin-top: 70px ;
justify-content: space-between; 
}
.row{
  display: flex;
  justify-content: space-evenly;
}

.col-md-4{
  flex: 33.3px;
  padding: 5px;
  margin: 0 50px 0;
}
.thumnail{
  width:25%;
  height:25%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.my{
  border-radius: 70%;
  width: 150px;
  height: 165px;
  -webkit-border-radius: 70%;
  -moz-border-radius: 70%;
  -ms-border-radius: 70%;
  -o-border-radius: 70%;
}
.home-page {
  text-align: center;
}

.people-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width:476px) {
  
  .parent{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    height: 20%;
    margin:10% 0 0 0;
  }
  .cntt{
    flex-direction: row;
    padding: 0%;
    margin: 0%;
    top:-20%;
    z-index: 10;
  }
  h1.head_t{
    margin:-25% 0% 1% 0%;
    padding:0% 0% 1% 0;
  }
  p.head_p{
    margin:-2% 0% 2% 0;
    padding:0% 0% 0% 0;
    content: justify;
  }
  
  /* .transparent-image{
    padding: 0px;
    width:50%;
  }
  
  ul{
    list-style: none;
  }
  .transparent-image2 {
    width: 50%;
    
  }
  .transparent-image3 {
    width: 50%;

  } */
  h1.head_text{
    padding-top: 10%;
    font-size: 24px;
  }
  .transparent-image p{
    padding: 5px 0px 0px 0px;
  }

  .transparent-image button {
    margin:20px 0px 0px 0px;
  } 
  button.btn1{
    margin: -2.5% 0 6% -2%;
    padding:5px;
  }
  .se{
    flex-direction: column;
  }
  .share-experience{
    width:50%;
  }
  img.homeimg{
    width:100%;
    margin:2% 0% 5% 0%;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
   }
  .irc{
    width: 100%;
    margin:0px 0px 10px 10px;
    padding:5px;
    flex-direction: column;
  }
  .visit{
    margin: 0px 0px 0px 20px;
    padding:0 0 0 0;
  }
  .travel{
    margin: 2% 3% 0 3%;
    padding:0 0 0 0;
  }
  .mains{
    width:100%;
    display: flex;
    flex-direction: column;
    margin: 5% 0 0 0;
  }

  .transparent button.btn2{
    margin:9rem 0rem 0rem 0.5rem;
  }
  .left{
    width: 300px;
  }
  .left h1{
    margin: 15px;
    font-size: 24px;
    align-items: center;
    justify-content:space-between;
  }
  .travel_text{
  font-size: 16px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
  }
  .left1, .right2 {
    width: 100%;
    
  }
  .r2{
    font-size: 28px;
    margin-left: 35%;
    padding: 0px 0px 0px 20px;
    margin: auto;
  }
  .t2 {
    font-size: 16px;
    line-height: 1.2;
    padding: 20px;
    width:auto ; 
   justify-content: center;

  }
  .m{
    margin: 30px 30px 30px 50px;
    padding:20px;
  }
  .row{
    flex-direction: column;
  }
  .pp{
    width:93%;
    margin:10px;
    padding:10px;
    gap:10px;
    display: flex;
    flex-direction: column;
  }
 
  .my{
    width:175px;
    height:175px;
    display: block;  
   margin-left: auto;  
   margin-right: auto;  
  padding: 5px; 
  
  }
  .m1{
    /* margin-left: 50px; */
    margin-top: 40px;
    padding:10px;
  }
  .caption{
  float: none;
  margin-left: 65px;
  }
  p.Top_eduH{
    font-style: bold;
    text-align: justify;
  }
  .pp1{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0px;
    margin:10px;
  }
  .t3{
    font-size: 16px;
    line-height: 1.6;
    align-items: center;
    justify-content: center;
    margin:15px;
    padding:10px;
  }
  @keyframes slide{
    0%{
    transform: translateX(0);
  
    }
    25.25%{
    transform: translateX(-33.33%);
   }
    55.55%{
    transform: translateX(-66.66%);
   }
     90%{
    transform: translateX(0);
  
  }
}
}