

  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .mann{
    color: #4caf50;
  }
  
  .transparent-image {
    text-align: center;
    margin: 0px;
    padding: 170px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('../assets/tttt.jpg');
    object-fit: cover; 
    background-size: cover;
    
  }
  
  .transparent-image h1 {
    margin-bottom: 10px;
  }
  
  .transparent-image p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .transparent-image button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border-radius: 20px;
    margin:50px 0px 0px -10px;
  }
  
  .transparent-image button:hover {
    background-color: #45a049;
  }  
  
  .se{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    margin-bottom: -30px;
  }
  
  .hover>li>a:hover{
  
    text-decoration: none;
  
  }
  
  .share-experience {
   width: 50%;
   margin-bottom: 70px;
  }
  .homeimg{
    width: 100%;
  }
  
  .irc{
     width: 50%;
     text-align: left;
     padding: 50px;
     margin-bottom: 70px;
  }
  .visit{
    color: #4caf50;
    font-size: 30px
  }
  
  .btn1{
    padding: 15px;
    border-radius: 20px;
    border: none; 
    background-color: #45a049;
    color: #fff;
    width: 165px;
  }
  
  
  .btn2{
    padding: 15px;
    border-radius: 20px;
    border: none; 
    background-color: #003b4a;
    color: #fff;
    width: 180px;
    
  }
  
  
  
  .swipe{
    align-self: flex-start;
    margin-top: 10%;
    height: 100px;
    width: 5px;
    background-color: green;
    cursor: pointer;
  }
  .icons{
    transition: 0.7s ease;
  }
  .swipe:hover .icons{
    transform: translateX(-50px);
    transition: 0.7s ease;
  }
  
  .iconlist{
    list-style: none;
    padding: 10px;
  }
  .swipeicon{
    margin: 10px 0 10px 0;
  }
  .share-experience h2 {
    margin-bottom: 10px;
  }
  
  .share-experience button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .share-experience button:hover {
    background-color: #45a049;
  }
  
  
  .footer-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .footer-links ul li {
    cursor: pointer;
  }
  
  .social-icons span {
    cursor: pointer;
  }
  .social-icons{
    padding: 0 10px 10px 0;
  }
  .facebook{
    background-image: url('../assets/facelogo.png');
    background-size: cover;
    width:35px;
    height: 35px;
    
  }
  .twitter{
    background-image: url('../assets/twitter\ logo.png');
    background-size: cover;
    width:35px;
    height: 35px;
    
  }
  .linkedin{
    background-image: url('../assets/linkedin.png');
    background-size: cover;
    width:35px;
    height: 35px;
    
  }
  .youtube{
    background-image: url('../assets/youtubelogo.png');
    background-size: cover;
    width:35px;
    height: 35px;
    
  }
  .insta{
    background-image: url('../assets/instalogo.png');
    background-size: cover;
    width:35px;
    height: 35px;
    
  }
  
  .transparent {
    text-align: center;
    margin: 0px;
    padding: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('../assets/imge.jpg');
    height: 200px;
    background-size: cover;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
  .left{
    left: auto;
    width:1000px;
    height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    
  }
  .left h1{
    justify-content: center;
  }

  .travel_text{
    text-align: center;
    display:flex;
    color:#fff;
  
  }
  .transparent h1 {
    margin-bottom: 10px;
  }
  
  .transparent p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .transparent button.btn2 {
    background-color: #003b4a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border-radius: 20px;
    float: right;
    height: 60px;
    margin-top: 150px;
  }
  
  .transparent button:hover {
    background-color: #1c5c1f;
  }
  /* //mission section */
  .container1 {
    display: flex;
    justify-content: space-around;
  }
  
  .left1, .right2 {
    width: 45%;
  }
  
  .r2 {
    font-size: 34px;
    margin-bottom: 10px;
    margin-left: 250px;
    color: #003b4a;
  }
  
  .t2 {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify; 
  }
  /* topedutourist.css */

.container{
  margin-top: 70px ;
  justify-content: space-evenly; 

}
.row{
  display: flex;
}

.col-md-3{
  flex: 33.3px;
  padding: 5px;
  margin: 0 50px 0px;
}
.thumnail{
  margin:10px;
  padding: 10px;
}
.my{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
  .m{
    margin-left: 500px;
    margin-top: 100px;
    color: #003b4a;
  }

  .pp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 97%;
    padding: 0 20px;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .m1{
    margin-left: 500px;
    margin-top: 100px;
    color: #003b4a;
  }
  .pp1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 97%;
    padding: 0 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
  }
  .t3{
    font-size: 16px;
    line-height: 1.6;
  }
  



  @media only screen and (max-width:476px) {
  
    .transparent-image{
      padding: 0px;
  
    }
    h1.head_text{
      padding-top: 10%;
      font-size: 24px;
    }
    .transparent-image p{
      padding: 5px 0px 0px 0px;
    }

    /* .transparent-image button {
      margin:20px 0px 0px 0px;
    }  */
    button.btn1{
      margin-bottom: 40px;
      margin-left:-15px;
      padding:10px;
    }
    .se{
      flex-direction: column;
    }
    img.homeimg{
      width:100%;
      margin:20% 0% 10% 0%;
      transform: scale(2);
      -webkit-transform: scale(2);
      -moz-transform: scale(2);
      -ms-transform: scale(2);
      -o-transform: scale(2);
}
    .irc{
      width: 100%;
      margin:0px 0px 10px 10px;
      padding:5px;
      flex-direction: column;
    }
    .visit{
      margin: 0px 0px 0px 20px;
      padding:10px;
    }
    .travel{
      margin: 10px 0px 0px 20px;
      padding:10px;
    }
    .mains{
      width:100%;
      display: flex;
      flex-direction: column;
    }
    .transparent button.btn2{
      margin:12rem 0rem 0rem 0.5rem;
    }
    .left{
      width: 300px;
    }
    .left h1{
      margin: 15px;
      font-size: 24px;
      align-items: center;
      justify-content:space-between;
    }
    .travel_text{
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    }

    .container1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width:100%;
    }
    .left1, .right2 {
      width: 100%;
      
    }
    .r2{
      font-size: 28px;
      margin-left: 35%;
      padding: 0px 0px 0px 20px;
      align-items: center;
    }
    .t2 {
      font-size: 16px;
      line-height: 1.2;
      padding: 10px;
      width:100% ; 
     justify-content: center;

    }
    
    .m{
      margin: 30px 30px 30px 50px;
      padding:20px;
    }
    .row{
      flex-direction: column;
    }
    .pp{
      width:93%;
      margin:10px;
      padding:10px;
      gap:10px;
      display: flex;
      flex-direction: column;
    }
   
    .my{
      width:175px;
      height:175px;
    }
    .m1{
      margin-left: 50px;
      margin-top: 40px;
      padding:10px;
    }
    .pp1{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 0px;
      margin:10px;
    }
    .t3{
      font-size: 16px;
      line-height: 1.6;
      align-items: center;
      justify-content: center;
      margin:10px;
      padding:10px;
    }
    
  }