
/* login.css */
.login-container {
    max-width: 400px;
    width: 400px;
    margin: 150px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .myloginlogo{
    margin-top: 5%;
    padding: 1rem;
    width:150px;
    height:85px;
  }
  .tredul-logo{
    width: 30px;
    margin: 0px auto 12px auto;
    padding-bottom: 20px;
    display: table;
  }
  .log{
   
    display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 8px;
      margin: auto;
  }
  .head{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #16191c;
    padding: -10px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  

  input[type="email_login"],
  input[type="password"],
  button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:400px;
  }
  
  button.btn {
    background-color: #1d6f20;
    color: white;
    cursor: pointer;
    width: 400px;
    margin-left: 0px;
  }
  
  button:hover {
    background-color: #154c18;
  }
  
  a {
    color: #4bb36d;
    text-decoration: none;
  
  }

  a:hover {
    text-decoration: underline;
  }
  .register_account{
    padding:0px;
  }
  @media screen and (max-width:476px){
   .tredul-logo{
    width:80px;
    height:80px;
    margin-bottom:-10px;
    padding:0;
   }
   .myloginlogo{
    width:120px;
    height:90px;
    margin:2% 0 0 0;
    padding:0;
   }
    button.btn{
    width:250px;
 }
  .login-container{
    padding:7%;
    width:250px;
    align-items: center;
    margin-top:40%;
    height:40%;
    }
  form{
    width:250px;
 }
 input#password_login{
    width:250px;
 }
 input#email_login{
    width:250px;
 }
 /* button.btn{
    width:422px;
 } */
}