
/* login.css */
.login-container {
    max-width: 400px;
    width: 400px;
    margin: 150px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .tredul-logo{
    width: 30px;
    margin: 0px auto 12px auto;
    padding-bottom: 20px;
    display: table;
  }
  .log{
   
    display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 8px;
      margin: auto;
  }
  .head{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #16191c;
    padding: -10px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  
  
  
  input[type="email_login"],
  input[type="password"],
  button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:400px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 422px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  a {
    color: #4bb36d;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  @media screen and (max-width:475px){
  .mybtn{
    width:300px;
 }
  logo-container{
    margin:50px;
    }
  form{
    width:200px;
 }
    
}