.sresult{
    padding: 100px 50px 0 50px;
    display: flex;
}
.rresultprop{
 
    display: grid;
    grid-template-columns: auto auto ;
    row-gap: 20px;
   justify-content: space-evenly;
   align-items: center;
    width: 100%;
   
}

.ind{
    box-shadow: 2px 2px 7px grey;
    padding: 20px;
}
.cyt{
    flex-direction: column;
    display: flex;
}
.flexer{
    display: flex;
    flex-direction: row;
}
@media (max-width:476px) {
    .ind{
        box-shadow: 2px 2px 7px grey;
        padding: 5px;
        margin: 10px;
    } 
    .sresult{
        transform: scale(1);
        padding: 0px 20px 0 20px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        flex-direction: column;
}

}
