/* 
/* register.css */
 /* .register-container{
    width: 300px;
    margin: 150px auto;
    padding: 40px 150px 80px 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2.me{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px 20px 50px;
    gap: 8px;

  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input#email_register{
  margin: 13px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width:350px;
  height:38px;
  
  }

  input#text_register{
    width: 350px;
    height:38px;
    padding: 10px;
    margin: 13px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
  }

  input#password_register{
    width: 350px;
    height:38px;
    margin:13px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  form.rmn{
    margin-top: 20px;
  }
  
  button.mybtn {
    width: 350px;
    padding: 10px;
    background-color: #236238;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 12px;
  }
  
  button:hover {
    background-color: #193a28;
  }
  
  p {
    margin-top: 20px;
  }
  
  p a {
    color: #236238;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
   */ 
  .register-page {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 800px;
    margin-top: 40px;
  }
  .register_h1{
    margin: 2% 0 2% 5%;
  }
  
  .usertype{
    margin:0 0 0 5%;
  }
  #registerAsHost{
    justify-content: space-between;
   
  }
  #registerAsTourist{
    justify-content: space-between;
    margin-bottom: 8%;
   
  }
  .user-type-selection{
    margin: 5% 10% 0 15%;
    padding-bottom: 0;
  }
  
  .register-form{
    margin-top: 20px;
  }
  
  button{
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:  #4bb36d;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color:  #6d706e;
  }

  #text_register{
  width: 100%;
  margin: 13px 0;
  height:39px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
  }
  #email_register {
    height:39px;
    padding: 10px;
    margin:13px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px; 
  }
  #password_register{
    height:39px;
    margin: 13px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    }
  .register-container {
    max-width: 400px;
    margin: 2% auto;
    padding: 2%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2.me{
    pad: 0;
    margin: 0;
  }
  p {
    margin-top: 20px;
  }
  
  p a {
    color: #4bb36d;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  .mybtn {
    width: 100%;
    padding: 10px;
    background-color: #4bb36d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #193a28;
  }
  .back-link{
    margin:0 0 0 0;
  }
 @media screen and (max-width:476px){
   .register-page{
    margin-top:50%;
   }
   .register_h1{
    text-align: center;
    margin-left: 10%;
    /* align-items: center; */
    
   } 
  .container{
        margin:20px;
        width:90%;
        padding: 20px;
    }
    .usertype{
      margin:1% 0 0 10%;
      padding: 1% 0 0 2%;
    }
    .user-type-selection{
      margin: 5% 10% 0% 15%;
      padding-bottom: 2%;
    
    }
    .register-container{
        width:90%;
        padding:10px;
    }
    input#text_register{
        width:250px;
    }
    input#email_register{
        width:250px;
    }
    input#password_register{
        width:250px;
    }
    #registerAsHost{
      width:70%;
      margin: 10% 0 0 2%;
      padding: 2%;
    }
    #registerAsTourist{
      width:70%;
      margin: 10% 0 10% 2%;
      padding: 2%;
    }
    button.mybtn{
        width:250px;
    }
    h2.me{
     margin:20px;
     padding:30px;
    }
    form.rmn{
        padding:20px;
    }
}