.search{
   flex-direction: row;
   max-width: 64em;
   margin:  6% 0 0% 40%;
   text-align: center;
   justify-content:space-between;

}
.state{
        height: 40px;
        border:  none;
        border-radius: 5px ;
        margin-top: 10px;
        box-shadow: 2px 2px 5px gray;
        padding-left: 10px;
        width:300px;
        margin: 5px;
    
}
.btn6{
    width:100px;
    color: rgb rgb(73, 171, 73);
    background-color: rgb(90, 199, 90);
    margin-left: 1%;
}
@media (max-width:476px) {
   .search{
        flex-direction: column;
        text-align: center;
        margin:  3.5em 0em 0em 3.5em;
    }
    .state{
        width:220px;
    }
}